[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
pandas = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"
pytest = "*"
tqdm = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
