[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"
pytest = "*"
tqdm = "*"

[requires]
python_version = "3.10"
